nix_direnv=3.0.6
nix_direnv_sha=sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM=
if ! has nix_direnv_version || ! nix_direnv_version "${nix_direnv}"; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/${nix_direnv}/direnvrc" "${nix_direnv_sha}"
fi

watch_file flake.nix
watch_file flake.lock
watch_file devenv.nix
if ! use flake . --no-pure-eval
then
  echo "devenv could not be built. The devenv environment was not loaded. Make the necessary changes to devenv.nix and hit enter to try again." >&2
fi
